body{
	margin: 0;
	background: #eee;
}

.top{
	position: fixed;
	width: 100%;
	height:75px ;
	background: #fff;
	border-top:#0D9476 4px solid;
}

.logo{
	height: 25px;
	display: block;
	margin-top: 25px;
	margin-left:25px ;
	float: left;
}

.container{
	font-family: 'Montserrat', sans-serif;
	color: #0D9476;
	font-size: 1.2em;
	text-transform: uppercase;
	display: flex;
	float: right;
	line-height: 75px;
	margin-right: 15px;
}

.container div{
	cursor: pointer;
	padding:0 20px ;
	box-shadow: 0 0 0 0 #0D9476 inset;
	transition: all 0.3s ease;
}

.container div:hover {
	box-shadow: 0 75px 0 0 #0D9476 inset;
	color: #fff;
}