{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>mocktest</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">	
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div class="logo">
		Logo
	</div>
	<div class="time" id="time">
		
	</div>
	<div class="quescont">
		<div class="qus">
			{% for ques in quest %}
			<div class="question qs{{ques.qsno}}">
				<div class="qs">Q{{ques.qsno}}. &nbsp&nbsp{{ ques.qs }}</div>
				<div class="option">
					<div class="opts option1"> A </div>{{ ques.option1 }}<br>
					<hr>
					<div class="opts option2">B</div>{{ ques.option2 }}<br>
					<hr>
					<div class="opts option3">C</div>{{ ques.option3 }}<br>
					<hr>
					<div class="opts option4">D</div>{{ ques.option4 }}<br>
				</div>
			</div>
			<br>
			{% endfor %}
		</div>

	</div>


	<div class="gate">
		<div class="but pre"><i class="fas fa-angle-left"></i> Previous Question</div>
		<div class="but">Mark For Review</div>
		<div class="but submit">Submit </div>
		<div class="but next">Next Question  <i class="fas fa-angle-right"></i></div>
	</div>

	<script type="text/javascript">
		var count = 10800;
		var counter = setInterval(timer, 1000); 

		function timer() {
			count = count - 1;
			if (count == -1) {
				clearInterval(counter);
				return;
			}

			var seconds = count % 60;
			var minutes = Math.floor(count / 60);
			var hours = Math.floor(minutes / 60);
			minutes %= 60;
			hours %= 60;

			document.getElementById("time").innerHTML = hours + ":" + minutes + ":" + seconds; 
		}
	</script>
	<script type="text/javascript" src="{%static 'js/index.js'%}"></script>
</body>
</html>