.fa{
	color: #fff;
}

a{
	color: #fff;
	text-decoration: none;
}

.img{
	font-size: 50px;
}

::-webkit-scrollbar {
	width: 2px;
	height: 0;
}
::-webkit-scrollbar-track {
	background: #2f3361;
}
::-webkit-scrollbar-thumb {
	background: -webkit-linear-gradient(left, #fc5e42 0%,#fc3071 100%);
}

body{
	margin: 0;
	overflow-x: hidden;
	-webkit-user-select: none;
}

nav	{
	overflow: hidden;
	line-height: 50px;
	background: transparent;
	text-transform: uppercase;
	color: #fff;
	font-family:roboto;
	position: fixed;
	width: 100%;
	padding-left: 15%;
	font-size: 0.8em;
	background: #2d3159;
	z-index: 1000;
	height: 50px;
	top: 0;
	-webkit-transition: 0.5s all ease;
}

nav  .navNull {
	display: inline;
	float: left;
	width: 8%;
	text-align: center;
	cursor: pointer;
}

nav  .logo {
	font-size: 1.3em;
}

nav  .register {
	margin-left: 200px;
	height: 100%;
	width: 100px;
	background: -webkit-linear-gradient(left, #fc5e42 0%,#fc3071 100%);
	cursor: pointer;
}

.main {
	width: 100%;
	height: 100vh;
	z-index: -100;
	top: 0;
	position: fixed;
	background: url("smart watch full.png") no-repeat center center;
	background-size: cover; 
}

.main  .mainCont {
	width: 100%;
	height: 100%;
	background: #282b4f;
	z-index: 900;
	position: relative;
	opacity: 0.9;
}

.main  .mainCont  .title {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main  .mainCont  .title   .epic{
	color: #fff;
	font-family: 'Archivo Black', open sans;
	font-weight: bolder;
	font-size: 4.2em;
	line-height: 70px;
}

.main  .mainCont  .title   .log{
	width: 250px;

}

.main  .mainCont  .title   .sm{
	padding-top: 70px;
	margin-left: -10px;
}

.main  .mainCont  .title   .line{
	width: 8%;
}

.main  .mainCont  .title   .txt{
	margin-top: 10px;
	color: #999;
	margin-bottom: 20px;
	font-style: italic;
	font-size: 1.4em;
	font-family: high tower text;
	text-align: center;
}

.main  .mainCont  .title   .down{
	border: solid #fff;
	border-width: 0 5px 5px 0;
	display: block;
	width: 0;
	position: relative;
	padding: 5px;
	transform: rotate(45deg);
	cursor: pointer;
	-webkit-transition: 0.25s all ease;
}

.container{
	display: flex;
	width: 100vw;
	height: auto;
	position: relative;
	z-index: 0;
	margin-top: 100vh;
	flex-wrap: wrap;
}


.features {
	height: auto;
	width: 110%;
	background: #2f3361;
	position: relative;
	z-index: 900;
	padding-bottom: 50px; 
}

.fet{
	width: 100vw;
	height: auto;
	display: flex;
	margin-top:50px ;
	flex-wrap: wrap;
}

.l{
	width: 50%;
	height: auto;
}

.l1{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.l2{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: open sans;
	font-weight: lighter;
	font-size: 25px;
}

.big{
	font-weight: bolder;
	font-size: 2.2em;
}

.wat{
	width: 300px;
}

.til {
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.til  .epic{
	color: #fff;
	font-family: 'Archivo Black', open sans;
	font-size: 2.7em;
	line-height: 70px;
}

.til  .line{
	width: 8%;
}

.til .sm{
	margin:40px 0 0 0 ;
}

.til .txt{
	margin-top: 10px;
	color: #999;
	margin-bottom: 20px;
	font-style: italic;
	text-align: center;
	font-family: high tower text;
}

.upper{
	background: #282b4f;
	position: absolute;
	z-index: 1000;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.loading{
	width:300px ;
	height:5px ;
	background-color: #2f3361;
	display: flex;
	align-items: center;
	border-radius: 20px;
}

.fill{
	width: 100%;
	height: 100%;
	background: #fc5e42;
	border-radius: 20px;
	background: -webkit-linear-gradient(left, #fc5e42 0%,#fc3071 100%);
}

.cont{
	width: 100vw;
	height:auto ;
	display: flex;
	flex-wrap: wrap;
	background: #333;
}

.top{
	width: 100%;
	height: 500px;
	background: -webkit-linear-gradient(left, #fc5e42 0%,#fc3071 100%);
	opacity: 0.3;
}

.left{
	width: 50%;
	height: 500px;
	background: url("eg.jpg") center center no-repeat;
	background-size: cover;
}


.right{
	width: 50%;
	height: 500px;
	background: #282b4f;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.head{
	font-size: 2.4em;
	font-family: open sans;
	color: #fff;
	margin: 0px 0 0 0px ;
	font-weight: lighter;
	letter-spacing: 3px;

}

.rcon{
	margin-left: 50px;
}
.button{
	
	margin: 20px 0 0 0px ;
	padding: 10px 20px;
	color: #fff;
	font-family: open sans;	
	width: 100px;
	background: -webkit-linear-gradient(left, #fc5e42 0%,#fc3071 100%);
	border-radius: 25px;
	text-align: center;
	font-size: 0.9em;
	cursor: pointer;
}

.line{
	background: -webkit-linear-gradient(left, #fc5e42 0%,#fc3071 100%);
	width: 25px;
	height: 2px;
	margin-top:10px ;
	margin-left:3px ;
}

.sm{
	text-transform: uppercase;
	font-size: 0.6em;
	font-family: Arial;
	color: #fff;
	margin: 30px 0 10px 0px ;
	letter-spacing: 5px;
}

.text{
	font-size: 0.7em;
	font-family: roboto;
	color: #fff;
	margin: 30px 0 0px 0px ;
	width:80% ;
	font-weight: 100;
	letter-spacing: 2px;
	line-height:18px ;
}


.c2{
	display: flex;
	flex-direction: row;
	background: #333;
}

.c3{
	display: flex;
	flex-direction: row-reverse;
}

.im1{
	background: url("poster 2.png") center center no-repeat;
	background-size: contain; 
}

.im2{
	background: url("poster 3.png") center right no-repeat;
	background-size: cover; 
}

.im3{
	background: url("back.png") center right no-repeat;
	background-size: cover; 
}

.im4{
	background: url("design5.png") top center no-repeat;
	background-size: cover; 
}

.rightside{
	width: 100vw;
	height: auto;
}


@media(max-width: 550px){
	.ecit{
		font-size: 3em !important;
	}
}

@media(max-width: 650px){
	.fet{
		flex-direction: column !important;

	}

	.f2{
		flex-direction: column-reverse !important;
	}

	.l{
		width: 100%;
	}

	.l2{
		text-align: center;
	}

	.big{
		font-size: 1.8em;
	}

	.right{
		align-items: center;
	}

	.rcon{
		margin-left: 0;
	}

	.head{
		font-size: 2em;
	}
}


@media(max-width: 800px){
	.right{
		width:100% ;
		height: 450px;
	}

	.left{
		width:100% ;
		height: 450px;
	}

	.top{
		height: 450px
	}

	.c2{
		display: flex;
		flex-direction: column-reverse;
	}

	.c3{

		flex-direction: column-reverse;
	}

	.text{
		width: 100%;
		font-size: 0.9em;
		line-height: 18px;
		font-weight: lighter;
	}
}

@media(max-width: 900px){
	.text{
		letter-spacing: 1px;
	}

	nav  .navNull {
		display: block;
		clear: both;
		margin-left: -50px;	
	}

	nav:hover {
		height: 300px;

	}

	nav  .logo {
		display: flex;
		flex-wrap: nowrap;
		cursor: pointer;
	}

	nav  .register {
		width: 100%;
		margin-left: -15%;
	}
}
