body{
	margin: 0;
}

.upper{
	background: #282b4f;
	position: absolute;
	z-index: 1000;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.loading{
	width:300px ;
	height:5px ;
	background-color: #2f3361;
	display: flex;
	align-items: center;
	border-radius: 20px;
}

.fill{
	width: 100%;
	height: 100%;
	background: #fc5e42;
	border-radius: 20px;
	background: -webkit-linear-gradient(left, #fc5e42 0%,#fc3071 100%);
}

.cont{
	width: 100vw;
	height:auto ;
	display: flex;
	flex-wrap: wrap;
}

.top{
	width: 100%;
	height: 500px;
	background: -webkit-linear-gradient(left, #fc5e42 0%,#fc3071 100%);
	opacity: 0.5;
}

.left{
	width: 50%;
	height: 500px;
	background: url("eg.jpg") center center no-repeat;
	background-size: cover;
}


.right{
	width: 50%;
	height: 500px;
	background: #282b4f;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.head{
	font-size: 2.4em;
	font-family: open sans;
	color: #fff;
	margin: 0px 0 0 50px ;
	font-weight: lighter;
	letter-spacing: 3px;

}

.button{
	
	margin: 20px 0 0 50px ;
	padding: 10px 20px;
	color: #fff;
	font-family: open sans;	
	width: 100px;
	background: -webkit-linear-gradient(left, #fc5e42 0%,#fc3071 100%);
	border-radius: 25px;
	text-align: center;
	font-size: 0.9em;
	cursor: pointer;
}

.line{
	background: -webkit-linear-gradient(left, #fc5e42 0%,#fc3071 100%);
	width: 25px;
	height: 2px;
	margin-top:10px ;
	margin-left:3px ;
}

.sm{
	font-size: 0.6em;
	font-family: Arial;
	color: #fff;
	margin: 30px 0 10px 55px ;
	letter-spacing: 5px;
}

.text{
	font-size: 0.7em;
	font-family: roboto;
	color: #fff;
	margin: 30px 0 0px 50px ;
	width:80% ;
	font-weight: 100;
	letter-spacing: 2px;
	line-height:18px ;
}

.container{
	display: flex;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
}

.c2{
	display: flex;
	flex-direction: row;

}

.c1{
	display: flex;
	flex-direction: row-reverse;

}
@media(max-width: 800px){
	.right{
		width:100% ;
		height: 450px;
	}

	.left{
		width:100% ;
		height: 450px;
	}

	.top{
		height: 450px
	}

	.c2{
		display: flex;
		flex-direction: column-reverse;
	}

	.c1{

		flex-direction: column-reverse;
	}

	.text{
		width: 100%;
		font-size: 0.9em;
		line-height: 18px;
		font-weight: lighter;
	}
}

@media(max-width: 900px){
	.text{
		letter-spacing: 1px;
	}
}