body{
	margin: 0;
}

.con{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.side{
	position: absolute;
	width: 0%;
	height: 0%;
	background: #333;
	top: 0;
	right: 0;
	clip-path: polygon(0% 80%, 0% 100%, 10% 100%,100% 20%, 100% 0%, 90% 0%);
	transform: scale(1.7);
	z-index: 3;
	transition: all 0.5s ease; 
}

.black{
	position: absolute;
	background: #0F0F0F;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	z-index: 4;
	clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
	transition: all 0.3s ease; 
	color: #fff;
	display: flex;
}

.bottom{
	position: absolute;
	height: 50%;
	bottom: 0;
	width: 50%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btext{
	font-family: open sans;
	line-height:50px;
	font-size: 30px; 
	opacity: 0;
}

.menu{
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 
}

.b1{
	animation-delay: 0.7s;
	animation-duration: 0.5s;
}

.b2{
	animation-delay: 0.8s;
	animation-duration: 0.5s;
}
.b3{
	animation-delay: 0.9s;
	animation-duration: 0.5s;
}
.b4{
	animation-delay: 1s;
	animation-duration: 0.5s;
}
.b5{
	animation-delay: 1.1s;
	animation-duration: 0.5s;
}
.b6{
	animation-delay: 1.2s;
	animation-duration: 0.5s;
}
.b7{
	animation-delay: 1.3s;
	animation-duration: 0.5s;
}

.c{
	z-index: 2;
	font-family: open sans;
	font-size: 1.2em;
	padding-top:20px ;
	cursor: pointer;
	position: absolute;
}

.cont2{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
}

.rectangle{
	width: 80vw;
	height: 80vh;
	position: relative;
}


.cover{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.7);
	font-family: 'Fredoka One', cursive;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.ctext{
	font-size:3em ;
	margin-top:-50px ;
	letter-spacing: 20px;

}

.ctext2{
	font-size: 1.5em;
	margin-top: 50px;
	font-family: open sans;
	font-weight: lighter;
}

.cut1{
	width: 100%;
	height: 100%;
	clip-path: polygon(0% 0%, 90% 0%, 0% 40%);
	position: absolute;
	overflow: hidden;
}

.cut2{
	width: 100%;
	height: 100%;
	clip-path: polygon(0% 39%, 90% 0%, 100% 0%, 100% 50%, 10% 100%, 0% 100%);
	position: absolute;

}

.cut3{
	width: 100%;
	height: 100%;
	clip-path: polygon(10% 100%, 100% 49%, 100% 100%);
	position: absolute;

}

.s1{
	background: url(im1.jpg) center center no-repeat;
	background-size: cover;
	height: 80vh;
	width: 80vw;
}

.s2{
	background: url(im2.jpg) center center no-repeat;
	background-size: cover;
	height: 80vh;
	width: 80vw; 
}
.slide{
	width:200%;
	height: 100%;
	display: flex;
	position: absolute;
	left: 0;
}

.sl1{
	transition: all 1.7s cubic-bezier(0.77, 0, 0.175, 1); 
}

.sl2{
	transition: all 1.9s cubic-bezier(0.77, 0, 0.175, 1); 
} 

.sl3{
	transition: all 2.1s cubic-bezier(0.77, 0, 0.175, 1); 
}

