body{
	margin: 0;
	overflow: hidden;
}

.container{
	height: 100vh;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.circ{
	width:500px ;
	height:500px ;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #273469), color-stop(100, #1E2749));
	display: flex;
	margin: 0 auto;
	border-radius: 100%;
	transition: all 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
}

.lower{
	position: fixed;
	bottom:0px ;
	overflow: hidden;
	transition-delay: 0s;
	z-index: 50000000000;
	transition: all 0.5s ease;
}


.lower div{
	display: flex;
	transition: all 0.5s ease;
	flex-direction: row;
}


.buttons{
	margin:20px 0px;
	color: #fff;
	font-family: open sans;
	font-size:20px ;
	padding:10px 20px ;
	border-radius: 50px	;
}

.doc{
	width: 0;
	height: 0;
	position: absolute;
	border-radius:100%;
	background-color: #C42333; 
	transition: all 0.8s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.feat{
	width: 0;
	height: 0;
	position: absolute;
	border-radius:100%;
	background-color: #05C18F; 
	transition: all 0.8s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.over{
	width: 0;
	height: 0;
	position: absolute;
	border-radius:100%;
	background-color: #118AB2; 
	transition: all 0.8s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.api{
	width: 0;
	height: 0;
	position: absolute;
	border-radius:100%;
	background-color: #A04668; 
	transition: all 0.8s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.head{
	font-family: open sans;
	font-size:30px ;
	color: #fff;
	opacity: 0;
	transition: all 0.5s ease;
	text-align: center;
}

.ran{
	font-size: 15px;
	margin:0 250px ;

}