body{
	margin: 0;
	overflow: hidden;
}

.container{
	height: 100vh;
	display: flex;
	align-items: center;
}

.circ{
	width:500px ;
	height:500px ;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #273469), color-stop(100, #1E2749));
	display: flex;
	margin: 0 auto;
	border-radius: 100%;
	transition: all 0.5s ease;
}