body, html
{
	margin:0;
	background-color: #fff;
	background-color: #eee;
	position: relative;
	overflow-x:hidden; 
}

.headingMain
{
	font-size:5em ;
	color: #000;
	font-family: lobster;
	padding-top:10% ;
	padding-bottom:10% ;

}

.hoverButton
{
	padding: 20px 25px;
	background-color:transparent;
	border:2px solid #000;
	color: #000;
	border-radius:5px ;
	position: relative;
	overflow: hidden;
	transition: all 1s ease;

}

button:focus
{
	outline:0;
}

.btext
{
	position: relative;
	z-index:100 ;
	transition: all 1s ease;
}

.back1
{
	width:100% ;
	height: 100%;
	background-color:#49C6E5 ;
	position: absolute;
	top:0;
	left:-100% ;
	transition: all 0.7s ease;
}

.back2
{
	width:100% ;
	height: 100%;
	background-color:#3581B8 ;
	position: absolute;
	top:0;
	left:-100% ;
	transition: all 0.7s ease;
}

.back3
{
	width:100% ;
	height: 100%;
	background-color:#D81E5B ;
	position: absolute;
	top:0;
	left:-100% ;
	transition: all 0.7s ease;
}

.back4
{
	width:100% ;
	height: 100%;
	background-color:#44FF7D ;
	position: absolute;
	top:0;
	left:-100% ;
	transition: all 0.7s ease;
}

.back5
{
	width:100% ;
	height: 100%;
	background-color:#EAC435 ;
	position: absolute;
	top:0;
	left:-100% ;
	transition: all 0.7s ease;
}



.back6
{
	width:100% ;
	height: 100%;
	background-color:#F56416 ;
	position: absolute;
	top:0;
	left:-100% ;
	transition: all 0.7s ease;
}


.container
{
	display: none;
}

.home
{
	width:100% ;
	height: 100%;
	position: fixed;
	background-color: #fff;
	z-index: 100;
}

.left
{
	width:50% ;
	height:100%;
	background-color:#49C6E5 ;
	display: block;
	position: absolute;
	transition:all 01s ease ;
	overflow-x:hidden; 
	overflow-y:hidden; 
}

.right
{
	width:50% ;
	height:100%;
	background-color:#FBF5F3 ;
	display: block;
	position: relative;
	left:50% ;
	transition:all 01s ease ;
	cursor:pointer;
}

.head1
{
	font-size:1.7em ;
	font-family: 'Bree Serif', serif;
	padding-top:30px ;
}

.imagDiv img
{
	width:75% ;
	height: auto; 
	padding-top:20px ;
	transition:all ease 0.3s ;
}

.i1
{ 
	position: absolute;
}

.i2
{
	display: none;
	position: absolute;
}

.i3
{
	display: none;
	position: absolute;
}

.i4
{
	display: none;
	position: absolute;
}

.i5
{
	display: none;
	position: absolute;
}


.i6
{
	display: none;
	position: absolute;
}

.text
{
	text-align: left;
	font-family:lato ;
	font-size:0.9em ;
	margin-right:15% ;
	margin-left:15% ;
	line-height:30px ;
	margin-top:50px ;
}

.read
{
	font-size:1.3em ;
	float: right;
	transition: all ease 0.3s;
	cursor: pointer;
}

.read:hover
{
	color:#fff ;
}

.index
{
	width:120px;
	height:670px ;
	background-color:#fff ;
	line-height:112px;
	padding-top:0px ;
	float: left;
	/*transition:all 1s ease ;*/
}

.indexText
{
	font-family:open sans ;
	transition:all 0.3s ease ;
}

.hovers
{
	height:100%;
	background-color:#fff ;
	line-height:112px;
	margin-top:20px ;
	display: inline;
}

.hovText
{
	font-family:open sans ;
	transition:all 0.3s ease ;
}

.hovText:hover
{
	background-color: #eee;
}

@keyframes slideInLeft {
	from {
		left:-100% ;
	}

	to {
		left: 0;
	}
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
	animation-duration:01s ;
	position: relative;
}


@keyframes slideInRight {
	from {
		left:100% ;
	}

	to {
		left: 0;
	}
}

.slideInRight{
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
	animation-duration:1s ;
	position: relative;
}


@keyframes slideInUp {
	from {
		top:200% ;
	}

	to {
		top: 100%;
	}
}

.slideInUp{
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
	animation-duration:1s ;
	position: absolute;

}

.topbar {
	width: 100%;
	height: 60px;
	text-align: center;
	margin: 0;
	padding: 0;
	color: #fff;
	position: fixed;
	z-index: 20;
	overflow: hidden;
	top: 0;
	background-color: #222;
	display: none;
}
.headerchange {
	background: #222
}
.topbar ul {
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0;

}
.topbar ul li {
	list-style: none;
	letter-spacing: 1px;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 60px;
	cursor: pointer;
	transition:all 0.3s ease ;
	float: left;
}
.topbar ul li:hover 
{
	color: #211A1D
}
}

.t7
{
	display: none;
	text-align: justify;
}

.t7 img
{
	display: none;
	width:70px ;
	height: 70px;
}

.show
{
	display: none;
}

#change1:hover
{
	background-color:#49C6E5 !important;
}

#change2:hover
{
	background-color:#3581B8 !important;
}

#change3:hover
{
	background-color:#D81E5B !important;
}

#change4:hover
{
	background-color:#44FF7D !important;
}

#change5:hover
{
	background-color:#EAC435 !important;
}

#change6:hover
{
	background-color:#F56416 !important;
}

#change7
{
	display: none;
}

#change7 img
{
	display: none;
	width:50px ;
	height:50px ;
}